/*ЦІ ЗНАКИ ПРАЦЮЮТЬ НЕ ТІЛЬКИ З ТЕКСТОВИМИ ТЕГАМИ */


.ddd > P/*знак > означає що ми хочемо застосувати колір лише до дочірніх 
елементів цього класу  ,в даному випадку трьох */
{
    color: fuchsia;
}
.aaa > p
{
color: rgb(76, 17, 223);    
}

.qqq + p /*знак + означає що колір застосовуватиметься тільки до першого елемента
 <p> під тегом <div>
у цьому випадку в html <p> має бути під тегом <div>*/
{
    color: mediumspringgreen;
}

.ooo~p{/* працює так як + але поширюється на всі вказані нами елементи після вказаного нами div*/
color: yellowgreen;
}

p[id="lll"]/*селектор за атрибутом,отримує параметри кольору той тег в якому присутній атрибут id*/
{
    color:goldenrod ;

}
/*МОЖНА ЗАГУГЛИТИ 30 CSS SELECTOR */

