
* {/* цей селектор застосовує налаштування стилю для всіх елементів на html сторінці */
    font-family: Arial, Helvetica, sans-serif;
}

h1{/*селектор за тегом прописує стиль для усіх дегів цього типу на сторінці*/
    color: rgb(185, 110, 12);
}

a{/*також селектор за тегом*/
    color: darkgreen;
}

.text{/*селектор за класом прописує стиль суто для об'єктів у межах класу*/
    color: hotpink;
}

#text{/*селектор за айді*/
    color: chartreuse;
}