.bike_icon {
  width: 500px;
  height: 400px;
  border: solid 1px #cccccc;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.bike_icon:hover {
  transform: scale(1.01);
  transition: 0.4s;
}
.bike_img {
  width: 96%;
  margin: 0 13px;
}
.bike_information {
  margin: 20px;
  display: grid;
  grid-gap: 10px;
}
.selector {
  width: 40px;
  cursor: pointer;
}
p {
  margin: 0px;
}
.buy_button {
  background-color: #1a1a1a;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
.buy_button:active {
  background-color: #4a4a4a;
}
