
.qqq li:nth-child(4){/*починає відлік від першого дочірнього елемента будь якого типу*/
  color: rgb(7, 195, 39);   
}

.qqq li:nth-of-type(5){/*починає відлік від елемента типа якого ми вказали*/
  color: goldenrod;
}

a{
    color: inherit;
}