.loader_container{
    display: flex;
    justify-content: center;
}
.loader{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px dotted rgb(191, 21, 2);
    animation: rotate 2s linear infinite
}

@keyframes rotate {
   0% {transform: rotate(0deg) scale(0.8)} 
   50% {transform: rotate(180deg) scale(1.2)} 
   100% {transform: rotate(360deg) scale(0.8)} 
   
}