html{
  font-family: sans-serif;

}

body{
  margin: 0px;
  color:honeydew;


}

header{
  background-color: #1a1a1a;
  position: sticky;
  top: 0px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  border-bottom: solid 1px #5c5858;

}  
.logo{
  font-size: 22px;
  margin: 0 40px;
}
.headerInfo-container{
  display: flex;
  margin: 0 10px;
}
.headerInfo{
  color: inherit;
  text-decoration: none;
  margin-right: 30px;
}
.choose-model{
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 41px;
}
.Bike-container{
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px 500px  ;
  justify-content: space-evenly;
  align-items: center;

}
.bike{
  border: solid 1px #cccccc;
  border-radius: 20px;
  width: 500px;
  height: 400px;
}
.img-bike{
  width: 96%;
  height: 63%;
  padding: 10px;
}
.bikeInfo-container{
  display: flex;
  justify-content: space-between;
}
.bikeInfo{
  margin: 0px 28px;
  color:#1a1a1a;
}
.addBtn-container{
display: flex;
align-items: flex-end;
}
.addBtn{
  height: 21px;
  margin: 0 28px;
  background-color: #eaeaea;
  color:#1a1a1a;
  border-radius: 6px;
  font-size: 15px;
  border-color: #f2f1f1 ;
  border-width: 1px;
}



.color-button{
  border-radius: 12px;
  border: solid 2px #cccccc;
}


