.number_in_basket{ 
    padding-top: 2px;
    display: flex;
    justify-content: center;
    color: black;
    position: absolute;
    border-radius: 15px;
    width: 17px;
    align-items: center;
    height: 17px;
    left: 30px;
    top: -4px;
    background-color:#fd0000bd;
    font-size: 15px;
  }
  .basket_container{
    right: -42px;
    position: fixed;
    display: block;
    width: 48px;
    margin: 20px 77px 20px 66px 
   }
   .basket_container:hover{
    transition: 0.2s;
    transform: scale(1.02);
   }
   .basket_container.active{
    display: none;
   }